          <ul class="dropdown-menu">
            <li class="has-submenu">
              <a href="/trailer-axle/bridge-trailer-page.html">Мосты грузовых автомобилей</a>
              <ul class="dropdown-submenu">
                <li><a href="/trailer-axle/nemetskiy-tip-osi.html" title="Немецкий тип оси">Немецкий тип оси</a></li>
                <li><a href="/trailer-axle/amerikanskiy-tip-osi.html" title="Американский тип оси">Американский тип оси</a></li>
                <li><a href="/trailer-axle/spitsevaya-os.html" title="Спицевая ось">Спицевая ось</a></li>
                <li><a href="/trailer-axle/nizkoplatformennyy-avtomobilnyy-most.html" title="Низкоплатформенный автомобильный мост">Низкоплатформенный автомобильный мост</a></li>
                <li><a href="/trailer-axle/os-diskovogo-tormoza.html" title="Ось дискового тормоза">Ось дискового тормоза</a></li>
                <li><a href="/trailer-axle/tayskaya-os.html" title="Тайская ось">Тайская ось</a></li>
                <li><a href="/trailer-axle/nemetskiy-tip-osi-2.html" title="Немецкий тип оси №2">Немецкий тип оси №2</a></li>
                <li><a href="/trailer-axle/amerikanskiy-tip-osi-2.html" title="Американский тип оси №2">Американский тип оси №2</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="/vozdushnaya-podveska/vozdushnaya-podveska.html">Воздушная подвеска</a>
            <ul class="dropdown-submenu">
              <li><a href="/vozdushnaya-podveska/zhestkaya-podveska.html" title="Жесткая подвеска">Жесткая подвеска</a></li>
              <li><a href="/vozdushnaya-podveska/ustanovlennyy-svetilnik.html" title="Установленный светильник">Подвеска для легких грузов</a></li>
              <li><a href="/vozdushnaya-podveska/edinaya-tochka-podveski.html" title="Единая точка подвески">Единая точка подвески</a></li>
              <li><a href="/vozdushnaya-podveska/amerikanskaya-podveska.html" title="Американская подвеска">Американская подвеска</a></li>
              <li><a href="/vozdushnaya-podveska/amerikanskaya-podveska-2.html" title="Американская подвеска №2">Американская подвеска №2</a></li>
              <li><a href="/vozdushnaya-podveska/podveska-nemetskogo-tipa.html" title="Подвеска немецкого типа">Подвеска немецкого типа</a></li>
              <li><a href="/vozdushnaya-podveska/podveska-nemetskogo-tipa-2.html" title="Подвеска немецкого типа №2">Подвеска немецкого типа №2</a></li>
            </ul>
            </li>
            <li class="has-submenu">
              <a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/zapchasti-dlya-mosta-gruzovyh-avtomobiley.html">Запчасти для моста грузовых автомобилей</a>
              <ul class="dropdown-submenu">
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/stupica.html" title="Ступица">Ступица</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/tormoznoy-baraban.html" title="Тормозной барабан">Тормозной барабан</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/tormoznaya-kolodka.html" title="Тормозная колодка">Тормозная колодка</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/support.html" title="Суппорт">Суппорт</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/bryzgovik.html" title="Брызговик">Брызговик</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/podjemnyy-rychag.html" title="Подъемный рычаг">Подъемный рычаг</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/privod-i-komplektnye-aksessuary.html" title="Привод и их комплектные аксессуары">Привод и их комплектные аксессуары</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/tormoznaya-kamera.html" title="Тормозная камера">Тормозная камера</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/komplektnyy-bolt.html" title="Комплектный болт">Комплектный болт</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/pruzhina.html" title="Пружина">Пружина</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/podshipnik.html" title="Подшипник">Подшипник</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/kolpak-i-uplotnyayushchiy-element.html" title="Колпак и уплотняющий элемент">Колпак и уплотняющий элемент</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/datchik-abs-i-rotor.html" title="Датчик ABS и ротор">Датчик ABS и ротор</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="/neftyanoye-oborudovanie/neftyanoye-oborudovanie.html">Нефтеоборудование и комплектующие</a>
              <ul class="dropdown-submenu">
                <li><a href="/neftyanoye-oborudovanie/blok-dlya-sushilnoy-mashiny.html" title="Блок для сушильной машины">Блок для сушильной машины</a></li>
                <li><a href="/neftyanoye-oborudovanie/vakumnyy-degazator.html" title="Вакуумный дегазатор">Вакуумный дегазатор</a></li>
                <li><a href="/neftyanoye-oborudovanie/vertikalnyy-shlamovyy-nasos.html" title="Вертикальный шламовый насос">Вертикальный шламовый насос</a></li>
                <li><a href="/neftyanoye-oborudovanie/vibrosito-s-otritsatelnym-davleniem.html" title="Вибросито с отрицательным давлением">Вибросито с отрицательным давлением</a></li>
                <li><a href="/neftyanoye-oborudovanie/vibrosito.html" title="Вибросито">Вибросито</a></li>
                <li><a href="/neftyanoye-oborudovanie/vintovoy-nasos.html" title="Винтовой насос">Винтовой насос</a></li>
                <li><a href="/neftyanoye-oborudovanie/ilootdelitel.html" title="Илоотделитель">Илоотделитель</a></li>
                <li><a href="/neftyanoye-oborudovanie/komnata-konteynernogo-tipa.html" title="Комната контейнерного типа">Комната контейнерного типа</a></li>
                <li><a href="/neftyanoye-oborudovanie/ochistitel-rastvora.html" title="Очиститель раствора">Очиститель раствора</a></li>
                <li><a href="/neftyanoye-oborudovanie/peskootdelitel.html" title="Пескоотделитель">Пескоотделитель</a></li>
                <li><a href="/neftyanoye-oborudovanie/sistema-obrabotki-shlama.html" title="Система обработки шлама">Система обработки шлама</a></li>
                <li><a href="/neftyanoye-oborudovanie/sistema-razdeleniya-glinistoy-vody.html" title="Система обработки глинистой воды">Система обработки глинистой воды</a></li>
                <li><a href="/neftyanoye-oborudovanie/srezayushchiy-nasos.html" title="Срезающий насос">Срезающий насос</a></li>
                <li><a href="/neftyanoye-oborudovanie/sushilnaya-mashina.html" title="Сушильная машина">Сушильная машина</a></li>
                <li><a href="/neftyanoye-oborudovanie/tsentrifuga.html" title="Центрифуга">Центрифуга</a></li>
                <li><a href="/neftyanoye-oborudovanie/tsentrobezhnyy-shlamovyy-nasos.html" title="Центробежный шламовый насос">Центробежный шламовый насос</a></li>
                <li><a href="/neftyanoye-oborudovanie/pnevmaticheskiy-spayder.html" title="Запчасти пневматического спайдера">Запчасти пневматического спайдера</a></li>
                <li><a href="/neftyanoye-oborudovanie/neftyanoye-sverlo.html" title="Нефтяное сверло">Нефтяное сверло</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="/casting/casting-page.html">Отливка изделий на заказ</a>
              <ul class="dropdown-submenu">
                <li><a href="/casting/obrabotka-tormoznogo-barabana.html" title="Обработка тормозного барабана">Обработка тормозного барабана</a></li>
                <li><a href="/casting/obrabotka-stupitsy-kolesa.html" title="Обработка ступицы колеса">Обработка ступицы колеса</a></li>
                <li><a href="/casting/lite-detalei-spetsialnoi-formy-1.html" title="Литье деталей специальной формы">Литье деталей специальной формы</a></li>
                <li><a href="/casting/lite-detalei-spetsialnoi-formy-2.html" title="Литье деталей специальной формы">Литье деталей специальной формы №2</a></li>
                <li><a href="/casting/protsess-poteri-peny.html" title="Процесс потери пены">Процесс потери пены</a></li>
                <li><a href="/casting/lite-pod-davleniem-poteryannoi-peny.html" title="Литье под давлением специальной формы">Литье под давлением специальной формы</a></li>
                <li><a href="/casting/lite-iz-peska-s-pokrytiem-1.html" title="Литье из песка специальной формы">Литье из песка специальной формы</a></li>
                <li><a href="/casting/lite-iz-peska-s-pokrytiem-2.html" title="Литье из песка специальной формы №2">Литье из песка специальной формы №2</a></li>
                <li><a href="/casting/lite-iz-peska-s-pokrytiem-3.html" title="Литье из песка специальной формы №3">Литье из песка специальной формы №3</a></li>
                
              </ul>
            </li>
            <li class="has-submenu">
                <a href="/shtampovka-na-zakaz/shtampovka-na-zakaz.html">Штамповка деталей на заказ</a>
                <ul class="dropdown-submenu">
                    <li><a href="/shtampovka-na-zakaz/shtampovochnoye-oborudovaniye.html" title="Штамповочное оборудование">Штамповочное оборудование</a></li>
                    <li><a href="/shtampovka-na-zakaz/shayba-uplotnitel.html" title="Шайба уплотнитель">Шайба уплотнитель</a></li>
                    <li><a href="/shtampovka-na-zakaz/kolpak-stupitsy.html" title="Колпак ступицы">Колпак ступицы</a></li>
                    <li><a href="/shtampovka-na-zakaz/bryzgovik-i-maslouplotnitelnyy-disk.html" title="Брызговик и маслоуплотнительный диск">Брызговик и маслоуплотнительный диск</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="/kovka-na-zakaz/kovka-na-zakaz.html">Ковка деталей на заказ</a>
                <ul class="dropdown-submenu">
                    <li><a href="/kovka-na-zakaz/flanets.html">Фланец</a></li>
                    <li><a href="/kovka-na-zakaz/kranovoye-koleso.html">Крановое колесо</a></li>
                    <li><a href="/kovka-na-zakaz/os.html">Ось</a></li>
                    <li><a href="/kovka-na-zakaz/tokarnyy-stanok-dlya-obrabotki-osi.html">Токараный станок для обработки оси</a></li>
                    <li><a href="/kovka-na-zakaz/tsapfa.html">Цапфа</a></li>
                    <li><a href="/kovka-na-zakaz/krupnogabaritnoye-kovochnoye-oborudovaniye.html">Крупногабаритное ковочное оборудование</a></li>
                    <li><a href="/kovka-na-zakaz/malogabaritnoye-kovochnoye-oborudovaniye.html">Малогабаритное ковочное оборудование</a></li>
                </ul>
            </li>
            <li class="has-submenu">
              <a href="/rezinovye-izdeliya/rezinovye-izdeliya.html">Резиновые изделия на заказ</a>
              <ul class="dropdown-submenu">
                <li><a href="/rezinovye-izdeliya/avtomaticheskaya-mashina-dlya-litya.html" title="Автоматическая машина для литья">Автоматическая машина для литья</a></li>
                <li><a href="/rezinovye-izdeliya/rezinovaya-ploskaya-vulkanizatsionnaya-mashina.html" title="Резиновая плоская вулканизационная машина">Резиновая плоская вулканизационная машина</a></li>
                <li><a href="/rezinovye-izdeliya/rezinovyy-ekstruder.html" title="Резиновый экструдер">Резиновый экструдер</a></li>
                <li><a href="/rezinovye-izdeliya/rezinovyy-kalandr.html" title="Резиновый каландр">Резиновый каландр</a></li>
                <li><a href="/rezinovye-izdeliya/smesitel.html" title="Смеситель">Смеситель</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="/docs/gornoe-oborudovanie.pdf" target="_blank">Горное оборудование</a>
            </li>
          </ul>
