      <aside class="sidebar">
            <nav>
              <ul class="menu">
            <li><a href="/trailer-axle/bridge-trailer-page.html">Мосты грузовых автомобилей</a></li>
            <li><a href="/vozdushnaya-podveska/vozdushnaya-podveska.html">Воздушная подвеска</a></li>
            <li class=" has-submenu">
              <a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/zapchasti-dlya-mosta-gruzovyh-avtomobiley.html" class="menu-button">Запчасти для моста грузовых автомобилей </a>
              <ul class="submenu">
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/stupica.html">Ступица</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/tormoznoy-baraban.html">Тормозной барабан</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/tormoznaya-kolodka.html">Тормозная колодка</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/support.html">Суппорт</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/bryzgovik.html">Брызговик</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/podjemnyy-rychag.html">Рычаг регулировочный</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/privod-i-komplektnye-aksessuary.html">Привод и комплектные аксессуары</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/tormoznaya-kamera.html">Тормозная камера</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/komplektnyy-bolt.html">Комплектный болт</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/pruzhina.html">Пружина</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/podshipnik.html">Подшипник</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/kolpak-i-uplotnyayushchiy-element.html">Колпак и уплотняющий элемент</a></li>
                <li><a href="/zapchasti-dlya-mosta-gruzovyh-avtomobiley/datchik-abs-i-rotor.html">Датчик ABS и ротор</a></li>
              </ul>
            </li>
            <li><a href="/neftyanoye-oborudovanie/neftyanoye-oborudovanie.html">Нефтеоборудование и комплектующие</a></li>
            <li><a href="/casting/casting-page.html">Отливка изделий на заказ</a></li>
            <li><a href="/kovka-na-zakaz/kovka-na-zakaz.html">Ковка деталей на заказ</a></li>
            <li><a href="/shtampovka-na-zakaz/shtampovka-na-zakaz.html">Штамповка деталей на заказ</a></li>
            <li><a href="/rezinovye-izdeliya/rezinovye-izdeliya.html">Резиновые изделия на заказ</a></li>
            <li><a href="/docs/gornoe-oborudovanie.pdf">Горное оборудование</a></li>
          </ul>
        </nav>
      </aside>
